<h3><i class="fab fa-accessible-icon"></i> Graphs</h3>
<div class="section">
  <p class="lead">Dashboards - fast as your wheelchair, stable as your social status!</p>
</div>
<div class="divider"></div>
<!-- google auth button -->
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google"></i> Log In With Google
  </a>
</div>